
<app-menu>
  <div>
    <button mat-stroked-button color="primary" (click)="obtenerDocumento()" >Obtener documento</button>
      <button mat-stroked-button color="primary"  [disabled]="true" (click)="insertarDocumento()" >Insertar documento</button>
      <button mat-stroked-button color="primary" (click)="mostrarDocumento()" >Mostrar documento</button>

      <div id="test" ></div>
      <div id="test1" ></div>
  </div>
  <div class="container" >
    <div class="docs">
      <mat-card  >
        <div *ngFor="let shoe of documentos1" >
          <span [ngClass]="{resaltador :shoe.id == documento.id}"  [innerHtml]="shoe.html" (click)="abrirComentario(shoe.id, shoe.comentario)" ></span>      
        </div>
      </mat-card>
    </div>
    <div class="form" >
      <form #newForm="ngForm" (ngSubmit)="insertarComentario(newForm)" >
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input type="text" matInput name="id" #id="ngModel" [(ngModel)]="documento.id" placeholder="ID">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Comentario</mat-label>
            <input type="text" matInput name="comentario" #comentario="ngModel" [(ngModel)]="documento.comentario" placeholder="Comentario">
          </mat-form-field>
        </div>
        <div>
          <button matTooltip="Guardar" type="submit" mat-raised-button color="primary" [disabled]=" !(newForm.form.valid)">
            <mat-icon>save</mat-icon>
        </button>
      </div>
      </form>
    </div>
  </div>
</app-menu>

