
<h1 mat-dialog-title>Insertar Nudo</h1>
<div class="body" >
    <br>
    <form #newForm="ngForm" (ngSubmit)="guardar(newForm)" >
            <!--INPUT-->
            <div >
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre..."  name="nombre" #nombre="ngModel" [(ngModel)]="nudo.nombre"  required>
                </mat-form-field>
            </div>
        <div >
            <mat-form-field class="descripcion">
                <mat-label>Descripcion</mat-label>
                <textarea matInput placeholder="Descripcion..." name="descripcion" #descripcion="ngModel" [(ngModel)]="nudo.descripcion" required></textarea>
            </mat-form-field>
        </div>
        <div>
            <button matTooltip="Guardar" type="submit" mat-raised-button color="primary" [disabled]=" !(newForm.form.valid)">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>