<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Sentry name="Sentry"
                dsn="https://9df0805cde2e4f9b8ae39abd98972fee@sentry.expertsystems.pe/7"
                minimumBreadcrumbLevel="TRACE"
        />
    </Appenders>
    <Loggers>
        <Logger name="oefa.gob.pe" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="Sentry"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="Sentry"/>
        </Root>
    </Loggers>
</Configuration>